@charset "ISO-8859-1";

.container {
  display: flex;
  align-items: center;
}

img {
  height: 80vh;
  margin-right: 10px;
}

.book-details {
  flex: 1;
}

.title {
	font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.author {
	font-size: 30px;
	margin-top: 0;
    text-decoration: underline;
}

.book-desc {
	font-size: 20px;
}

.price {
	font-size:32px;
	color: red;
}

.container a {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    margin-left: 5px;
}

.container a:hover {
	background-color: blue;
}