@charset "ISO-8859-1";
@charset "ISO-8859-1";
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Moirai+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html, body {
    margin: 0;
    height: 100%;
}

body{
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	background-color: #6C7C94;
	max-height: 100vh;
}

.fLeft{
	float: left;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 154px;
	text-align: center;
	color: #FFFFF0;
	margin: 5%;
	padding-top: 50px;
}




.container .text{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  -webkit-background-clip: text;
}

.container1{
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  height:900px;
}

.container{
 background-color: #F6F6E9;
  width: 800px;
  margin: 5%;
  padding: 25px 40px 25px 40px;
  color: #052F32;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
  display: block;
  text-align: center;
  border-radius: 25px;
  transition: transform 0.6s;
  float: right;
  
  
}


.bg-img{
	background-image: url('../img/background.jpeg');
  	filter: blur(8px);
  	-webkit-filter: blur(8px);
  	height: 100%;

  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}



.container form .input-data{
  margin: 32px 0;
  text-align: center;
}

input{
	width: 76%;
	height: 40px;
	border-radius: 30px;
	font-size: 25px;
	transition: transform 0.6s;
	padding:10px;
	background-color: #E3E0E9;
}

input:hover{
	transform: scale(1.1);
}

h1{
	font-family: 'Black Han Sans', sans-serif;
	font-size: 80px;
	text-align: center;
	margin:0 auto;
	padding-bottom: 20px;
}
label{
	text-align: left;
	font-size: 25px;
}

textarea{
	border-radius: 30px;
	transition: transform 0.6s;
	font-size: 25px;
	padding:10px;
	margin: 10px;
}

textarea:hover{
	transform: scale(1.1);
}
button{
	width: 78%;
	height: 60px;
	border-radius: 30px;
	font-size: 25px;
	transition: transform 0.6s;
	background-color: #E3E0E9;
}

button:hover{
	transform: scale(1.1);
}

img{
	border-radius: 50%;
}
.footer{
    margin-top: 50px;
}